/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.env.server
/webpack.mix.js
/.env.example
/modify.sql
/package.json
/server.php
/.gitattributes
/composer.json
/readme.md
/phpunit.xml
/artisan
/package-lock.json
/composer.lock
/resources/
/bootstrap/
/database/
/tests/
/libs/
/uploads/
/public/
/storage/
